.influencers-start {
  position: relative;
  padding-bottom: 80px;
  @include r($lg) {
    padding-bottom: 70px;
  }
  @include r($sm) {
    padding-bottom: 60px;
  }

  * {
    position: relative;
    z-index: 20;
  }

  &.youtube, &.telegram, &.twitter {
    @media (max-width: 1100px) {
      @include bg;
    }
  }

  &.youtube {
    @media (max-width: 1100px) {
      background-image: url("../images/influencers/youtube-adaptive.webp");
    }
    @media (max-width: 820px) {
      background-image: none;
    }
  }

  &.telegram {
    @media (max-width: 1100px) {
      background-image: url("../images/influencers/telegram-adaptive.webp");
    }
    @media (max-width: 820px) {
      background-image: none;
    }
  }

  &.twitter {
    @media (max-width: 1100px) {
      background-image: url("../images/influencers/twitter-adaptive.webp");
    }
    @media (max-width: 820px) {
      background-image: none;
    }
  }

  &__subtitle {
    @media (max-width: 1100px) {
      text-align: center;
    }

    &.gray {
      color: #4A4A4A;
    }

    &.blue {
      color: #005f99;
    }
  }

  &__title {
    max-width: 580px;
    margin-bottom: 50px;
    @include r($desktop) {
      margin-bottom: 40px;
    }
    @media (max-width: 1100px) {
      max-width: 700px;
      margin: 0 auto 50px;
      text-align: center;
    }
    @include r($phone) {
      font-size: 38px;
    }
    @media (max-width: 430px) {
      font-size: 36px;
    }
    @media (max-width: 390px) {
      font-size: 34px;
      margin-bottom: 45px;
    }
  }

  &__description {
    max-width: 580px;
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: $inter;
    margin-bottom: 120px;
    @media (max-width: 1400px) {
      margin-bottom: 80px;
    }
    @include r($desktop) {
      max-width: 560px;
    }
    @media (max-width: 1100px) {
      text-align: center;
      margin: 0 auto 50px;
      font-size: 19px;
    }
    @include r($sm) {
      font-size: 18px;
      margin-bottom: 40px;
    }
    @include r($phone) {
      font-size: 17px;
    }
  }

  &__socials {
    @include flex-align-center(100);
    justify-content: center;
    @include r($desktop) {
      gap: 60px;
    }
    @media (max-width: 1100px) {
      gap: 50px;
    }
    @media (max-width: 530px) {
      gap: 35px;
    }
    @include r($phone) {
      gap: 30px;
    }
  }

  &__link {
    @include flex-center;
    border-radius: 7px;
    padding: 2px;
    border: 1px solid transparent;
    transition: border .4s;

    &:hover {
      svg path {
        fill-opacity: 0.7;
      }
    }

    &:focus {
      border-color: $accent;

      svg path {
        fill-opacity: .6;
      }
    }

    svg path {
      fill-opacity: .5;
    }

    &.active {
      pointer-events: none;

      svg path {
        fill-opacity: 1;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(40px);
    animation: slideIn 0.4s ease-out forwards;
    @media (min-width: 1921px) {
      object-position: center;
      bottom: auto;
      top: 0;
      height: 100%;
      max-width: none;
      width: 50%;
    }
    @media (max-width: 1700px) {
      right: -170px;
    }
    @media (max-width: 1400px) {
      width: 910px;
      height: auto;
    }
    @media (max-width: 1300px) {
      width: 850px;
      bottom: 20px;
      right: -230px;
    }
    @include r($desktop) {
      right: -280px;
      width: 820px;
    }
    @media (max-width: 1100px) {
      display: none;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}