.html {
  overflow-x: hidden;
  position: relative;

  &--min-height {
    height: 100%;
  }

  &.active {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.body {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.18px;
  color: #4A4A4A;
  background: linear-gradient(90deg, #F7EFDC 0%, #F5EAD4 29.83%, #F1DDC0 74.95%, #EED4B1 100%);
  position: relative;
  overflow-x: hidden;

  &--white {
    background: #FFFFFF;
  }

  &::before {
    @include pseudo;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .4);
    opacity: 0;
    z-index: 650;
    visibility: hidden;
    transition: all .4s;
  }

  &--height {
    height: 100%;
  }

  &.modal-active {
    overflow-y: hidden;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  &.relative {
    position: relative;
  }
}

.indent {
  margin-bottom: 110px;
  @include r($lg) {
    margin-bottom: 80px;
  }
}

.indent-padding-top {
  padding-top: 80px;
  @include r($lg) {
    padding-top: 70px;
  }
  @include r($sm) {
    padding-top: 60px;
  }
}

.indent-padding {
  padding: 80px 0;
  @include r($lg) {
    padding: 70px 0;
  }
  @include r($sm) {
    padding: 60px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::selection {
  background-color: $accent;
  color: #f2f2f5;
}