.about-start {
  &__title {
    margin-bottom: 66px;
    @include r($lg) {
      margin-bottom: 56px;
    }
    @media (max-width: 920px) {
      font-size: 66px;
    }
    @media (max-width: 860px) {
      font-size: 62px;
    }
    @include r($tablet) {
      font-size: 58px;
      margin-bottom: 50px;
    }
    @media (max-width: 710px) {
      font-size: 56px;
    }
    @media (max-width: 660px) {
      font-size: 54px;
    }
    @media (max-width: 630px) {
      font-size: 50px;
      line-height: 0.95;
    }
    @media (max-width: 500px) {
      font-size: 48px;
    }
    @include r($phone) {
      font-size: 44px;
    }
    @media (max-width: 420px) {
      font-size: 40px;
      line-height: 1;
    }

    br {
      &:first-child {
        @include r($phone) {
          display: none;
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 104px;
    @include r($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 620px;
      margin: 0 auto 80px;
    }
    @include r($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    @include flex-column(50);
    min-height: 470px;
    padding: 20px;
    border-radius: 16px;
    background-color: #FBFBFB;
    box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
    @media (max-width: 1100px) {
      min-height: 420px;
    }
    @include r($tablet) {
      max-width: 305px;
    }
    @media (max-width: 660px) {
      max-width: 275px;
    }
    @include r($sm) {
      max-width: 350px;
    }
    @include r($phone) {
      min-height: 380px;
      gap: 30px;
    }
  }

  &__head {
    position: relative;

    img {
      @include objectCoverBg;
      margin-left: auto;
      @media (max-width: 1100px) {
        margin-top: 20px;
        width: 240px;
        height: 240px;
      }
      @include r($lg) {
        width: 230px;
        height: 230px;
      }
      @media (max-width: 880px) {
        width: 215px;
        height: 215px;
        margin: 35px auto 0;
      }
      @include r($sm) {
        width: 250px;
        height: 250px;
        margin-top: 20px;
      }
      @media (max-width: 385px) {
        width: 230px;
        height: 230px;
        margin-top: 25px;
      }
    }
  }

  &__signature {
    position: absolute;
    top: 0;
    left: 0;
    color: #4D4D5A;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: auto;
    font-size: 20px;
    line-height: 1.2;
    @include r($lg) {
      font-size: 19px;
    }
    @media (max-width: 860px) {
      font-size: 18px;
    }
  }

  &__decor {
    display: flex;
    justify-content: center;
  }

  &__line {
    height: 1px;
    width: 96%;
    background-color: #cccccc;
  }
}