.btn {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  gap: 8px;
  max-width: max-content;
  font-size: 16px;
  font-family: $montserrat;
  line-height: 1;
  background-color: $accent;
  color: #F2F2F5;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 72px;
  padding: 14px 30px;
  transition: background-color .4s, border .4s, color .4s, transform .6s;

  &:hover {
    background-color: #1A1A1A;
    border-color: transparent;
    color: #f2f2f5;
  }

  &:focus {
    background-color: transparent;
    color: #D02138;
    border-color: #D02138;

    &::before, &::after {
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-2px);
  }

  &--transparent {
    background-color: transparent;
    border-color: #D02138;
    color: #D02138;

    &:hover {
      background-color: $accent;
    }

    &:focus {
      background-color: $accent;
      border-color: transparent;
      color: $white;
    }
  }

  &--gray {
    background-color: #4A4A4A;

    &:hover {
      background-color: #232323;
    }

    &:focus {
      background-color: transparent;
      color: #4A4A4A;
      border-color: #4A4A4A;
    }
  }

  &--blue {
    background-color: #005F99;

    &:hover {
      background-color: #017dc6;
    }

    &:focus {
      background-color: transparent;
      color: #2fa5ec;
      border-color: #2fa5ec;
    }
  }

  &.border-top {
    background-color: transparent;
    color: $accent;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: repeating-linear-gradient(
                    to right,
                    $accent 0 10px,
                    transparent 10px 20px
    ) 1;

    &:hover {
      background-color: rgba($accent, 0.07);
      color: darken($accent, 10%);
      border-color: darken($accent, 10%);
    }

    &:focus {
      background-color: rgba($accent, 0.15);
      color: $black;
      border-color: darken($accent, 20%);
    }

    &.blue {
      color: #005f99;
      border-image: repeating-linear-gradient(
                      to right,
                      #005f99 0 10px,
                      transparent 10px 20px
      ) 1;

      &:hover {
        background-color: rgba(#005f99, 0.07);
        color: darken(#005f99, 10%);
        border-color: darken(#005f99, 10%);
      }

      &:focus {
        background-color: rgba(#005f99, 0.15);
        color: $black;
        border-color: darken(#005f99, 20%);
      }
    }

    &.black {
      color: #1A1A1A;
      border-image: repeating-linear-gradient(
                      to right,
                      #1A1A1A 0 10px,
                      transparent 10px 20px
      ) 1;

      &:hover {
        background-color: rgba(#1A1A1A, 0.07);
        color: lighten(#1A1A1A, 15%);
        border-color: lighten(#1A1A1A, 15%);
      }

      &:focus {
        background-color: rgba(#1A1A1A, 0.1);
        color: $black;
        border-color: #000;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    user-select: none;
    border-color: rgba(#3F3F4D, .34);
    background-color: transparent;
    color: #2C2C3C;
    font-size: 12px;
  }
}