.header {
  padding: 15px 0;

  &__inner {
    @include flex-between-center-gap(30);
    @media (max-width: 960px) {
      position: relative;
      z-index: 48;
    }
    @media (max-width: 420px) {
      gap: 20px;
    }
  }

  &__nav {
    @media (max-width: 960px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 960px) {
        display: block;
      }
    }
  }

  &__right, &__logo {
    max-width: 190px;
    width: 100%;
    @media (max-width: 960px) {
      max-width: max-content;
    }
  }

  &__logo {
    display: flex;

    &-link {
      @include flex-center;
      padding: 4px 0;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: opacity .4s, border .4s;

      &:hover {
        opacity: .7;
      }

      &:focus {
        border-color: $accent;
      }
    }

    &-img {
      &.active {
        path {
          fill: $white;
        }
      }
    }
  }

  &__list {
    @include flex-align-center(21);
    @media (max-width: 960px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
    @include r($tablet) {
      gap: 28px;
    }
  }

  &__item {
    position: relative;

    &:hover .header__sublist-wrapper {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__link {
    @include flex-align-center(7);
    color: #4D4D5A;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 1px 2px;
    font-size: 15px;
    font-family: $inter;
    border-radius: 5px;
    transition: color .4s, border .4s;
    @media (max-width: 960px) {
      font-size: 18px;
      color: #5b5b6b;
    }
    @include r($tablet) {
      font-size: 17px;
    }
    @include r($sm) {
      font-size: 16px;
    }

    &:hover {
      color: $accent;

      svg {
        transform: rotate(180deg);

        path {
          fill: $accent;
        }
      }
    }

    &:focus {
      border-color: $accent;
      color: #4D4D5A;
    }

    &.active {
      color: $white;
      pointer-events: none;

      svg path {
        fill-opacity: 1;
      }
    }
  }

  &__right {
    @include flex-align-center(20);
    justify-content: flex-end;
    @media (max-width: 415px) {
      gap: 14px;
    }
  }

  &__btn {
    @media (max-width: 960px) {
      align-self: stretch;
    }
    @include r($sm) {
      align-self: center;
      font-size: 13px;
    }
    @include r($phone) {
      padding: 14px 17px;
    }
    @media (max-width: 415px) {
      padding: 13px 15px;
    }
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 110px 15px 30px;
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e7e7e7;
    transform: translateX(100%);
    height: 100vh;
    transition: transform .7s ease-in-out;
    @media (max-width: 960px) {
      display: flex;
      align-items: flex-start;
      pointer-events: auto;
      user-select: auto;
    }
    @media (max-width: 610px) {
      padding-top: 100px;
    }

    &.active {
      transform: translateX(0);
    }
  }
}