.menu-btn {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background: transparent;
  z-index: 1000;
  transition: transform 0.4s ease;

  @include r($tablet) {
    position: absolute;
    left: 0;
    top: 6px;
  }

  @media (max-width: 415px) {
    width: 42px;
    height: 42px;
  }
  @media (max-width: 390px) {
    width: 39px;
    height: 39px;
  }

  .line {
    display: block;
    height: 2px;
    width: 80%;
    background: $black;
    margin: 4px 0;
    border-radius: 1px;
    transform-origin: center;
    transition: all 0.3s ease;
  }

  &--header {
    @media (max-width: 1100px) {
      display: flex;
    }
  }

  &:hover .line {
    background: $accent;
  }

  // исходное состояние (важно задать задержки!)
  .middle {
    transition: width 0.2s ease 0.5s; // задержка для обратного пути
  }

  .top {
    transform: translateY(0) rotate(0);
    transition: transform 0.3s ease 0.5s;
  }

  .bottom {
    transform: translateY(0) rotate(0);
    transition: transform 0.3s ease 0.5s;
  }

  &.active {
    transform: rotate(45deg);

    .middle {
      width: 5px;
      transition: width 0.2s ease; // сразу сжимается
    }

    .top {
      transform: translateY(10px) rotate(0);
      transition: transform 0.3s ease 0.2s;
    }

    .bottom {
      transform: rotate(90deg) translateX(-9px);
      transition: transform 0.3s ease 0.2s;
    }

    .top,
    .bottom {
      background: $accent;
      transition: transform 0.3s ease 0.5s;
    }
  }
}