.menu-btn {
  height: 45px;
  width: 45px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  transition: all .4s;
  background-color: transparent;
  border: 1px solid transparent;
  @include r($tablet) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-2px);
  }
  @media (max-width: 415px) {
    width: 42px;
    height: 42px;
  }

  &:hover {
    .menu-btn__line, .menu-btn__line::after, .menu-btn__line::before {
      background-color: $accent;
    }
  }

  &:focus {
    background-color: transparent;
    border-color: $accent;
  }

  &--header {
    @media (max-width: 1100px) {
      display: flex;
    }
  }

  &__line,
  &__line::after,
  &__line::before {
    background-color: $black;
    content: '';
    left: 0;
    top: 0;
    width: 70%;
    height: 2px;
    transition: all .4s;
  }

  &__line::after,
  &__line::before {
    position: absolute;
    width: 100%;
  }

  &__line {
    position: relative;
    display: flex;

    &::before {
      margin-top: -8px;
    }

    &::after {
      margin-top: 8px;
    }
  }

  &.active {
    border-color: transparent;

    .menu-btn__line {
      background: transparent;
      transition: all .4s;
      transform: rotate(-90deg);

      &::before {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: .4s;
        background-color: $accent;
      }

      &::after {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: .4s;
        background-color: $accent;
      }
    }
  }
}