.modal {
  @include topLeft50;
  position: fixed;
  max-width: 360px;
  width: 96%;
  padding: 40px 24px;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  border-radius: 16px;
  background: linear-gradient(180deg, #F7F7F8 0%, rgba(247, 247, 248, 0.94) 100%);
  box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
  transform: translate(-50%, -25%);
  transition: transform .45s ease-in-out, visibility .4s, opacity .4s;

  &.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  &__close {
    @include flex-center;
    width: 44px;
    height: 44px;
    padding: 2px;
    position: absolute;
    top: -42px;
    right: -42px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #F7F7F8;
    box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
    transition: border .4s, background-color .4s;

    &:hover {
      border-color: #D02138;
      background-color: transparent;

      svg path {
        fill: $white;
      }
    }

    &:focus {
      background-color: #b63f4c;
      border-color: transparent;

      svg path {
        fill: $white;
      }
    }
  }

  &__title {
    line-height: 1.1;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 12px;
  }

  &__subtext {
    color: #2C2C3C;
    font-size: 18px;
    margin-bottom: 32px;
  }

  &__fields {
    @include flex-column(8);
    margin-bottom: 32px;
  }
}