.modal {
  @include topLeft50;
  position: fixed;
  font-family: $inter;
  max-width: 395px;
  max-height: 90vh;
  width: 96%;
  padding: 65px 40px 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 1100;
  border-radius: 16px;
  background: $white;
  box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
  transform: translate(-50%, -25%);
  transition: transform .45s ease-in-out, visibility .4s, opacity .4s;
  @media (max-width: 768px) {
    padding: 45px 30px 30px;
  }
  @media (max-width: 415px) {
    width: 95%;
    padding-top: 65px;
  }
  @media (max-height: 680px) {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  &__close {
    @include flex-center;
    width: 44px;
    height: 44px;
    padding: 2px;
    position: absolute;
    top: -42px;
    right: -42px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #F7F7F8;
    box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
    transition: border .4s, background-color .4s;
    @include r($phone) {
      top: -18px;
      right: -20px;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .36);
    }
    @media (max-width: 415px) {
      right: 11px;
      top: 10px;
      width: 42px;
      height: 42px;
      background-color: #F6F6F6;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .66);
    }
    @media (max-height: 710px) {
      top: -20px;
    }
    @media (max-height: 680px) {
      top: 8px;
      right: 8px;
      background-color: #F6F6F6;
      box-shadow: 0 2px 5px 2px rgba(196, 196, 206, .46);
    }

    &:hover {
      border-color: transparent;
      background-color: $black50;

      svg path {
        fill: $white;
      }
    }

    &:focus {
      background-color: #b63f4c;
      border-color: transparent;

      svg path {
        fill: $white;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    margin: 0 auto 50px;
  }

  &__title {
    @include flex-column(15);
    text-align: center;
    line-height: 1.1;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
    @include r($sm) {
      font-size: 30px;
      letter-spacing: 1.3px;
    }
    @media (max-width: 468px) {
      font-size: 28px;
      letter-spacing: 0.7px;
    }
    @media (max-width: 400px) {
      font-size: 27px;
      letter-spacing: 0.4px;
    }

    &.non {
      margin-bottom: 0;
    }

    &.mb50 {
      margin-bottom: 50px;
    }

    span {
      color: rgba(#2c2c3c, .3);
      font-size: 20px;
      font-weight: 300;
      color: #4A4A4A;
      letter-spacing: 0.5px;
    }
  }

  &__subtext {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #4A4A4A;
    max-width: 250px;
    margin: 20px auto 45px;
    @include r($phone) {
      font-size: 17px;
      margin-bottom: 35px;
    }
  }

  &__fields {
    @include flex-column(9);
    margin-bottom: 32px;

    label {
      position: relative;

      &::before {
        @include pseudo;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #999999;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .btn {
    margin: 0 auto;

    @include r($phone) {
      font-size: 13px;
    }
  }

  &__top {
    margin-bottom: 32px;
  }

  &__content {
    @include flex-column(20);
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(#4D4D5A, .56);
  }

  &__countries, &__ages {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__ages {
    margin-bottom: 30px;
  }

  &__country, &__age {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    color: #4A4A4A;
    font-weight: 300;
    letter-spacing: 0.5px;

    &-name {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__percent {
    font-size: 16px;
    font-weight: 400;
  }

  &__btn {
    margin: 0 auto;
    font-size: 18px;
  }

  &__svg {
    width: 100%;
  }

  .fi {
    width: 23px;
    line-height: 1;
  }
}