.tariff-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  @include r($lg) {
    max-width: 720px;
    margin: 0 auto;
    gap: 16px;
  }
  @media (max-width: 660px) {
    flex-direction: column;
    max-width: 395px;
  }
}

.tariff-card {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  padding: 70px 35px;
  background-color: $white;
  box-shadow: 0 2px 10px 0 #B7A18F;
  transition: box-shadow .4s, transform .4s;
  @include r($desktop) {
    padding: 65px 28px;
  }
  @media (max-width: 1100px) {
    padding: 50px 28px;
  }
  @include r($lg) {
    flex: 1 1 calc(50% - 20px);
  }
  @media (max-width: 680px) {
    padding: 70px 28px;
  }

  &:hover {
    box-shadow: 0 5px 10px 0 #B7A18F;
    transform: translateY(-11px);
    @media (max-width: 900px) {
      box-shadow: 0 2px 10px 0 #B7A18F;
      transform: none;
    }
  }

  &:last-child {
    @include r($lg) {
      flex: 0 0 370px;
    }
    @media (max-width: 660px) {
      flex: auto;
    }
  }

  &__head {
    @include flex-column(20);
    align-items: center;
    margin-bottom: 32px;
    line-height: 1;
    text-align: center;
    @media (max-width: 680px) {
      gap: 12px;
    }
  }

  &__type {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    @include r($desktop) {
      font-size: 42px;
      letter-spacing: 2px;
    }
    @include r($tablet) {
      font-size: 38px;
      letter-spacing: 1.7px;
    }
    @media (max-width: 660px) {
      font-size: 44px;
    }
    @media (max-width: 410px) {
      font-size: 40px;
    }

    &.bronze {
      color: #DDAA7E;
    }

    &.silver {
      color: #B8B9B8;
    }

    &.gold {
      color: #DEBB80;
    }
  }

  &__subscribes {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #1A1A1A;
    @include r($desktop) {
      font-size: 58px;
    }
    @media (max-width: 1100px) {
      font-size: 54px;
    }
    @include r($lg) {
      font-size: 64px;
    }
    @media (max-width: 530px) {
      font-size: 60px;
    }
    @include r($phone) {
      font-size: 56px;
    }
    @media (max-width: 410px) {
      font-size: 50px;
    }

    &-title {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.5px;
      font-family: $inter;
      @include r($desktop) {
        font-size: 18px;
      }
      @include r($phone) {
        font-size: 17px;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    margin: 0 auto 6px;

    &.transform-left {
      transform: translateX(-11px);
    }

    &.long {
      width: 100%;
      height: auto;
      @include r($lg) {
        width: 320px;
      }
      @media (max-width: 830px) {
        width: 300px;
      }
    }

    &.twitter, &.youtube {
      @include r($lg) {
        width: 136px;
        height: auto;
      }
      @include r($phone) {
        width: 130px;
      }
    }

    &.telegram {
      @include r($lg) {
        width: 124px;
        height: auto;
      }
      @include r($sm) {
        width: 118px;
      }
      @include r($phone) {
        width: 112px;
      }
    }
  }

  &__list {
    @include flex-column(28);
    margin-bottom: 32px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 25px 20px;
    @media (max-width: 1100px) {
      padding: 22px 18px;
    }
  }

  &__item {
    @include flex-align-center(25);
    line-height: 1.2;
    color: #1A1A1A;
    font-family: $inter;
    font-weight: 300;
    letter-spacing: 0.5px;
    @include r($desktop) {
      gap: 20px;
    }
    @media (max-width: 1100px) {
      gap: 15px;
      font-size: 17px;
    }
    @media (max-width: 660px) {
      font-size: 18px;
    }
    @media (max-width: 530px) {
      gap: 12px;
    }

    &.disabled {
      color: #999999;
    }

    p {
      span {
        color: rgba(#4D4D5A, .4);
      }
    }
  }

  &__btn {
    font-size: 20px;
    margin: auto auto 0;
    @include r($desktop) {
      font-size: 18px;
    }

    &.black {
      background-color: #4A4A4A;
    }
  }
}