.title-section {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  color: #1A1A1A;
  text-transform: uppercase;
  @media (max-width: 1300px) {
    font-size: 56px;
  }
  @media (max-width: 1100px) {
    font-size: 52px;
  }
  @include r($lg) {
    font-size: 48px;
  }
  @include r($tablet) {
    font-size: 44px;
  }
  @include r($sm) {
    font-size: 40px;
  }
  @include r($phone) {
    font-size: 38px;
  }

  &__subtitle {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $accent;
    font-family: $inter;
    display: block;
    margin-bottom: 17px;
    @media (max-width: 1300px) {
      font-size: 26px;
    }
    @media (max-width: 1100px) {
      margin-bottom: 14px;
      font-size: 24px;
    }
    @include r($lg) {
      font-size: 22px;
      letter-spacing: 1.6px;
    }
    @include r($sm) {
      font-size: 20px;
      letter-spacing: 1.2px;
    }
    @include r($phone) {
      font-size: 18px;
      letter-spacing: 0.9px;
    }
  }
}