.agreement {
  &__title {
    margin-bottom: 100px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  &__column {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: $inter;
    text-align: justify;
    leading-trim: both;
    text-edge: cap;
  }

  &__column p:first-child, &__block {
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $accent;
  }
}