.cases-article {
  position: relative;
  @media (max-width: 1100px) {
    margin-top: -60px;
  }

  &__back {
    @include r($sm) {
      font-size: 13px;
    }
  }

  &__content {
    max-width: 600px;
    margin: -44px auto 0;
    font-size: 20px;
    font-family: $inter;
    @media (max-width: 1100px) {
      margin: 40px auto 0;
    }
    @include r($lg) {
      font-size: 18px;
    }
    @media (max-width: 410px) {
      font-size: 17px;
    }
  }

  &__type {
    font-size: 24px;
    color: $accent;
    font-family: $inter;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 18px;
    display: block;
    @media (max-width: 1100px) {
      margin-bottom: 10px;
      font-size: 22px;
    }
    @media (max-width: 1100px) {
      text-align: center;
    }
    @include r($lg) {
      font-size: 20px;
    }
    @include r($sm) {
      font-size: 19px;
    }
    @include r($phone) {
      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 80px;
    line-height: 1.1;
    @media (max-width: 1100px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1100px) {
      text-align: center;
    }
    @include r($tablet) {
      margin-bottom: 50px;
    }
    @include r($phone) {
      margin-bottom: 40px;
    }
  }

  &__text {
    @include flex-column(24);
    @media (max-width: 560px) {
      gap: 18px;
    }

    p {
      color: #4A4A4A;
      text-align: justify;
    }

    blockquote {
      @include flex-column(14);
      padding: 15px;
      border-radius: 12px;
      border: 1px solid $accent;

      &::before {
        @include bg;
        content: "";
        width: 17px;
        height: 13px;
        background-image: url("../images/icons/blockqoutes.svg");
      }

      p {
        color: #2C2C3C;
      }
    }

    figure {
      @include flex-column(13);
      align-items: center;
      margin: 0 0 8px;

      img {
        @include objectCoverBg;
        border-radius: 16px;
        width: 100%;
        border: 1px solid rgba(43, 43, 70, 0.12);
        @include r($lg) {
          height: 370px;
        }
        @include r($tablet) {
          height: 360px;
        }
        @media (max-width: 530px) {
          height: 330px;
        }
        @media (max-width: 468px) {
          height: 300px;
          border-radius: 10px;
        }
        @media (max-width: 410px) {
          height: 290px;
        }
      }

      figcaption {
        font-size: 14px;
        font-weight: 700;
        color: rgba(74, 74, 74, 0.82);
        margin: 0 auto;
        text-transform: uppercase;
      }
    }
  }
}