.cases {
  margin-bottom: 120px;
  position: relative;
  @include r($tablet) {
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 56px;
    @include r($phone) {
      margin-bottom: 46px;
    }
  }

  &__tabs {
    @include flex-align-center(10);
    flex-wrap: wrap;
    margin-bottom: 64px;
    @include r($desktop) {
      margin-bottom: 50px;
    }
    @media (max-width: 860px) {
      margin-bottom: 40px;
    }
    @include r($phone) {
      margin-bottom: 30px;
    }
  }

  &__tab {
    @include flex-align-center(4);
    align-items: flex-start;
    color: rgba(#2C2C3C, .3);
    font-size: 40px;
    letter-spacing: -0.8px;
    line-height: 1;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: color .4s, border .4s, background-color .4s;
    @include r($desktop) {
      font-size: 36px;
    }
    @include r($lg) {
      font-size: 32px;
    }
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 780px) {
      font-size: 26px;
    }
    @media (max-width: 520px) {
      font-size: 24px;
    }
    @include r($phone) {
      font-size: 22px;
    }

    &:hover {
      color: #2c2c3c;
    }

    &:focus {
      border-color: #D02138;
      color: #161616;

      &::before {
        background-color: transparent;
      }
    }

    &::before {
      @include pseudo;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: background-color .4s;
    }

    &--active {
      color: #2C2C3C;
      pointer-events: none;

      &::before {
        background-color: #2C2C3C;
      }
    }
  }

  &__cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    @include r($desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include r($lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include r($phone) {
      margin: 0 -5px;
    }
  }

  &__card {
    @include flex-column(0);
    padding: 20px;
    min-height: 330px;
    border-radius: 16px;
    background: #FBFBFB;
    box-shadow: 0 2px 2px 0 rgba(196, 196, 206, 0.16);
    @include r($desktop) {
      min-height: 310px;
    }
    @include r($lg) {
      min-height: 300px;
    }
    @media(max-width: 660px) {
      min-height: 280px;
    }
  }

  &__head {
    @include flex-align-center(10);
    margin-bottom: 16px;
    font-family: $jetBrainsMono;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.15px;
    @media (max-width: 690px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      margin-bottom: 26px;
    }
    @include r($phone) {
      font-size: 13px;
    }

    img {
      height: auto;
      width: 14px;
    }
  }

  &__name {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 400;
    word-break: break-word;
    margin-bottom: 60px;
    @include r($desktop) {
      font-size: 36px;
    }
    @media (max-width: 1070px) {
      font-size: 32px;
    }
    @include r($lg) {
      font-size: 30px;
    }
    @include r($tablet) {
      font-size: 28px;
    }
    @include r($phone) {
      font-size: 26px;
    }
    @media (max-width: 400px) {
      font-size: 24px;
    }
  }

  &__link {
    margin-top: auto;
    @include r($phone) {
      font-size: 13px;
      padding: 13px 18px;
    }

    &:hover {
      background-color: transparent;
      border-color: #D02138;
      color: #161616;
    }
  }

  &__not-found {
    font-size: 16px;
    text-align: center;
    color: #86202c;
    text-transform: uppercase;
    font-family: $jetBrainsMono;
    @include r($tablet) {
      font-size: 15px;
    }
  }

  &__more {
    @include flex-center;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 160px;
    background: linear-gradient(180deg, rgba(241, 241, 245, 0.00) 0%, #F1F1F5 100%);
    @media (max-width: 660px) {
      height: 200px;
    }

    &-btn {
      background-color: #FBFBFB;
      border-color: rgba(#000, .15);
    }
  }
}