.cases-article {
  position: relative;
  @media (max-width: 1100px) {
    margin-top: -30px;
  }
  @include r($tablet) {
    padding-top: 55px;
  }

  &__back {
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    @include r($desktop) {
      font-size: 14px;
      padding: 12px 30px;
    }
    @include r($tablet) {
      margin: 0 auto;
    }
    @include r($sm) {
      font-size: 13px;
    }

    &:focus {
      border-color: transparent;
      background-color: $accent;
      color: $white;
    }
  }

  &__content {
    max-width: 600px;
    margin: -44px auto 0;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-family: $inter;
    @include r($desktop) {
      margin: 30px auto 0;
    }
    @include r($tablet) {
      margin: 30px 35px 0;
    }
    @include r($phone) {
      font-size: 18px;
    }
    @media (max-width: 410px) {
      margin-right: 25px;
      margin-left: 25px;
    }
  }

  &__type {
    font-size: 32px;
    color: $accent;
    font-family: $inter;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    @media (max-width: 1100px) {
      margin-bottom: 10px;
      font-size: 28px;
    }
    @media (max-width: 1100px) {
      text-align: center;
    }
    @include r($tablet) {
      font-size: 26px;
      margin-bottom: 17px;
    }
  }

  &__title {
    margin-bottom: 65px;
    line-height: 1.1;
    font-size: 64px;
    @media (max-width: 1100px) {
      text-align: center;
      font-size: 60px;
    }
    @include r($lg) {
      font-size: 56px;
    }
    @include r($tablet) {
      margin-bottom: 50px;
      font-size: 52px;
    }
    @include r($phone) {
      margin-bottom: 40px;
    }
  }

  &__text {
    @include flex-column(40);

    p {
      color: #4A4A4A;
      text-align: justify;
    }

    blockquote {
      @include flex-column(14);
      padding: 15px;
      border-radius: 12px;
      border: 1px solid $accent;

      &::before {
        @include bg;
        content: "";
        width: 17px;
        height: 13px;
        background-image: url("../images/icons/blockqoutes.svg");
      }

      p {
        color: #2C2C3C;
      }
    }

    figure {
      @include flex-column(13);
      align-items: center;
      margin: 0 0;

      img {
        @include objectCoverBg;
        border-radius: 25px;
        width: 100%;
        border: 1px solid rgba(43, 43, 70, 0.12);
        @include r($lg) {
          height: 370px;
        }
        @include r($tablet) {
          width: 600px;
          height: auto;
          min-height: 230px;
        }
      }

      figcaption {
        font-size: 14px;
        font-weight: 700;
        color: rgba(74, 74, 74, 0.82);
        margin: 0 auto;
        text-transform: uppercase;
      }
    }
  }
}