.influencers {
  position: relative;
  @include r($sm) {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 56px;
    @include r($desktop) {
      margin-bottom: 50px;
    }
    @media (max-width: 530px) {
      margin-bottom: 40px;
    }
  }

  &__head {
    @include flex-between-center-gap(60);
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media (max-width: 715px) {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }

  &__tabs {
    @include flex-align-center(10);
    flex-wrap: wrap;
    @include r($sm) {
      gap: 16px 10px;
    }
  }

  &__tab {
    @include flex-align-center(4);
    align-items: flex-start;
    color: rgba(#2C2C3C, .3);
    font-size: 40px;
    letter-spacing: -0.8px;
    line-height: 1;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: color .4s, border .4s, background-color .4s;
    @include r($desktop) {
      font-size: 36px;
    }
    @include r($lg) {
      font-size: 32px;
    }
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 780px) {
      font-size: 26px;
    }
    @media (max-width: 520px) {
      font-size: 24px;
    }
    @include r($phone) {
      font-size: 22px;
    }

    &:hover {
      color: #2c2c3c;
    }

    &:focus {
      border-color: #D02138;
      color: #161616;

      &::before {
        background-color: transparent;
      }
    }

    &::before {
      @include pseudo;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: background-color .4s;
    }

    &--active {
      color: #2C2C3C;
      pointer-events: none;

      &::before {
        background-color: #2C2C3C;
      }
    }
  }

  &__sorting {
    &-btn {
      @include flex-align-center(4);
      font-weight: 700;
      font-family: $jetBrainsMono;
      color: #4D4D5A;
      font-size: 14px;
      line-height: 1;
      letter-spacing: -0.18px;
      text-transform: uppercase;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 3px 2px;
      transition: color .4s, border .4s;

      &:hover {
        color: #86202c;

        svg path {
          fill: #86202c;
        }
      }

      &:focus {
        border-color: #86202c;
        color: #4d4d5a;

        svg path {
          fill: #4d4d5a;
        }
      }
    }
  }

  &__cards {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 1150px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 945px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 390px) {
      margin: 0 -8px;
    }
  }

  &__not-found {
    margin-top: 60px;
    font-size: 16px;
    text-align: center;
    color: #86202c;
    text-transform: uppercase;
    font-family: $jetBrainsMono;
  }

  &__decor {
    display: flex;
    justify-content: center;
  }

  &__line {
    height: 1px;
    width: 94%;
    background-color: #cccccc;
    @media (max-width: 530px) {
      margin-bottom: 55px;
    }
  }
}