.pricing {
  background-color: #fff;

  &__swiper {
    cursor: grab;
    margin-bottom: 76px;
    @include r($tablet) {
      margin-bottom: 50px;
      padding: 0 20px;
    }

    .swiper-slide {
      width: max-content;
    }

    .swiper-wrapper {
      @media (min-width: 800px) {
        justify-content: center !important;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 50px;
      height: 100%;
      z-index: 10;
      pointer-events: none;
    }

    &::before {
      left: -15px;
      background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
      right: -15px;
      background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__tab {
    @include flex-align-center(4);
    align-items: flex-start;
    color: #999999;
    font-size: 26px;
    text-transform: uppercase;
    font-family: $inter;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: color .4s, border .4s, background-color .4s;
    user-select: none;
    @include r($lg) {
      font-size: 24px;
    }
    @include r($tablet) {
      padding: 5px 7px;
    }
    @include r($phone) {
      font-size: 23px;
      padding: 4px 5px;
    }

    &:hover {
      color: #2c2c3c;
    }

    &:focus {
      border-color: $accent;
      color: #161616;
    }

    &--active {
      color: $accent;
    }
  }
}