.pricing {
  background-color: #fff;
  padding: 80px 0;

  &__tabs {
    @include flex-align-center(22);
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
    @include r($tablet) {
      margin-bottom: 48px;
    }
    @media (max-width: 610px) {
      max-width: 420px;
      margin: 0 auto 48px;
    }
    @media (max-width: 520px) {
      max-width: 390px;
      margin: 0 auto 40px;
    }
    @include r($phone) {
      max-width: 370px;
      margin: 0 auto 35px;
    }
  }

  &__tab {
    @include flex-align-center(4);
    align-items: flex-start;
    color: #999999;
    font-size: 26px;
    text-transform: uppercase;
    font-family: $inter;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: color .4s, border .4s, background-color .4s;
    @include r($lg) {
      font-size: 28px;
    }
    @media (max-width: 900px) {
      font-size: 26px;
    }
    @media (max-width: 780px) {
      font-size: 24px;
    }
    @media (max-width: 520px) {
      font-size: 22px;
    }

    &:hover {
      color: #2c2c3c;
    }

    &:focus {
      border-color: $accent;
      color: #161616;
    }

    &--active {
      color: $accent;
      pointer-events: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
}