<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <button class="menu-btn menu-btn--header" type="button">
          <span class="line top"></span>
          <span class="line middle"></span>
          <span class="line bottom"></span>
          <span class="sr-only">Interact with menu</span>
        </button>
      </div>
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img src="images/logo.svg" loading="lazy" width="150" height="48" alt="logo AsiaCrypto">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="index.html">Home</a>
          </li>
          <li class="header__item with-list">
            <a class="header__link with-list" href="influencers.html">
              Influencers
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="cases.html">Cases</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="about.html">About Us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="plans.html">Plans</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="verification.html">
              Verification
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <button class="header__btn btn btn--transparent" type="button" data-btn-quote>
          Start Campaign
        </button>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <span class="header__line"></span>
    <nav class="header__nav mobile">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="index.html">Home</a>
        </li>
        <li class="header__item with-list">
          <a class="header__link with-list" href="influencers.html">
            Influencers
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="cases.html">Cases</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="about.html">About Us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="plans.html">Plans</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="verification.html">
            Verification
          </a>
        </li>
      </ul>
    </nav>
    <span class="header__line"></span>
    <ul class="header__socials">
      <li>
        <a class="header__social" href="" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <path d="M15 0C6.708 0 0 6.72 0 15C0 23.292 6.708 30 15 30C23.28 30 30 23.292 30 15C30 6.72 23.28 0 15 0ZM18.036 22.5L13.944 16.68L8.82001 22.5H7.5L13.356 15.84L7.5 7.5H11.964L15.84 13.02L20.688 7.5H22.02L16.428 13.86L22.5 22.5H18.036Z" fill="#B71C1C"/>
            <path d="M20.688 21.576H18.66L14.616 15.924L14.028 15.084L9.3 8.48401H11.34L15.144 13.812L15.732 14.64L20.688 21.576Z" fill="#B71C1C"/>
          </svg>
        </a>
      </li>
      <li>
        <a class="header__social" href="" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <path d="M15 0C6.7164 0 0 6.7164 0 15C0 23.2836 6.7164 30 15 30C23.2836 30 30 23.2836 30 15C30 6.7164 23.2836 0 15 0ZM22.3668 10.2768L19.9044 21.8771C19.7232 22.7003 19.2336 22.8999 18.5496 22.5123L14.7996 19.7496L12.9924 21.4922C12.8172 21.7178 12.546 21.8607 12.2424 21.8607C12.24 21.8607 12.2388 21.8607 12.2364 21.8607L12.5028 18.0434L19.4532 11.7662C19.7532 11.4998 19.386 11.3486 18.9876 11.615L10.4016 17.0221L6.70203 15.8678C5.90163 15.6146 5.88002 15.0672 6.87122 14.6748L21.3288 9.10195C22.0008 8.85715 22.5864 9.26212 22.3692 10.2785L22.3668 10.2768Z" fill="#B71C1C"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>