<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img src="images/logo.svg" width="150" height="48" alt="">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="index.html">Home</a>
          </li>
          <li class="header__item with-list">
            <a class="header__link with-list" href="influencers.html">
              Influencers
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="cases.html">Cases</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="about.html">About Us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="plans.html">Plans</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="verification.html">
              Verification
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <button class="header__btn btn btn--transparent" type="button" data-btn-quote>
          Start Campaign
        </button>
        <button class="menu-btn menu-btn--header" type="button">
          <span class="menu-btn__line"></span>
          <span class="sr-only">Interact with menu</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <nav class="header__nav mobile">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="index.html">Home</a>
        </li>
        <li class="header__item with-list">
          <a class="header__link with-list" href="influencers.html">
            Influencers
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="cases.html">Cases</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="about.html">About Us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="plans.html">Plans</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="verification.html">
            Verification
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>