<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img class="logo" src="images/logo.svg" width="89" height="16" alt="Logo Asia Crypto">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="index.html">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Influencers</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="cases.html">Cases</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="about.html">About Us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="pricing.html">Plans</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="contact.html">Contact</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="whitepaper.html">
              Verification
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="header__btn btn btn--transparent" href="/" target="_blank">
          Start Campaign
        </a>
      </div>
    </div>
  </div>
</header>