<section class="promotion-plans indent-padding">
  <div class="container relative">
    <img class="promotion-plans__img one" src="images/icons/promotion-plans/5.png" alt="promotion plans decor image">
    <img class="promotion-plans__img two" src="images/icons/promotion-plans/6.png" alt="promotion plans decor image">
    <h2 class="promotion-plans__title">YOUTUBE PROMOTION PLANS</h2>
    <span class="promotion-plans__subtitle">OPTIMAL PACKAGES FOR YOUR PROJECT</span>
    <ul class="promotion-plans__list">
      <li class="tariff-card">
        <div class="tariff-card__head">
          <span class="tariff-card__type bronze">BRONZE</span>
          <span class="tariff-card__subscribes">50K+</span>
          <span class="tariff-card__subscribes-title">YouTube Subscribers</span>
        </div>
        <img class="tariff-card__img transform-left" src="images/icons/youtube/2.png" width="159" height="108" alt="Bronze Icon">
        <ul class="tariff-card__list">
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              5-10 YouTube channels
            </p>
          </li>
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              1 Post on Twitter
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              Telegram call
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              Full Launch support
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              Exclusive Telegram Post
            </p>
          </li>
        </ul>
        <button class="tariff-card__btn btn" type="button" data-btn-quote>GET QUOTE</button>
      </li>
      <li class="tariff-card">
        <div class="tariff-card__head">
          <span class="tariff-card__type silver">Silver</span>
          <span class="tariff-card__subscribes">850K+</span>
          <span class="tariff-card__subscribes-title">YouTube Subscribers</span>
        </div>
        <img class="tariff-card__img transform-left" src="images/icons/youtube/1.png" width="159" height="108" alt="Bronze Icon">
        <ul class="tariff-card__list">
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              All YouTube channels
            </p>
          </li>
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              5 Post on Twitter
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              3 Telegram call
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              Full Launch support
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              Exclusive Telegram Post
            </p>
          </li>
        </ul>
        <button class="tariff-card__btn btn" type="button" data-btn-quote>GET QUOTE</button>
      </li>
      <li class="tariff-card">
        <div class="tariff-card__head">
          <span class="tariff-card__type gold">Gold</span>
          <span class="tariff-card__subscribes">1.7M+</span>
          <span class="tariff-card__subscribes-title">YouTube Subscribers</span>
        </div>
        <img class="tariff-card__img transform-left" src="images/icons/youtube/3.png" width="159" height="108" alt="Bronze Icon">
        <ul class="tariff-card__list">
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              15 YouTube channels
            </p>
          </li>
          <li class="tariff-card__item">
            <img src="images/icons/check-tariff.svg" width="20" height="20" alt="check icon">
            <p>
              3 Post on Twitter
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              1 Telegram call
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              Full Launch support
            </p>
          </li>
          <li class="tariff-card__item disabled">
            <img src="images/icons/check-cross.svg" width="20" height="20" alt="check icon">
            <p>
              Exclusive Telegram Post
            </p>
          </li>
        </ul>
        <button class="tariff-card__btn btn" type="button" data-btn-quote>GET QUOTE</button>
      </li>
    </ul>
  </div>
</section>